* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.router_container {
  max-width: 890;
  width: 100%;
  margin: 0 auto;
  margin-top: 80;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.formInput {
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px !important;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
  font-size: 14px;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
  margin-left: 4px;
}

/* Profile */
.profile_input {
  margin-bottom: 12px;
}

/* Factory */

.factoryInput__arrow {
  position: absolute;
  right: 0;
  background-color: #04aaff;
  height: 40px;
  width: 40px;

  text-align: center;
  border-radius: 20px;
  color: white;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* AuthForm */

.authSubmit {
  text-align: center;
  background: #04aaff !important;
  color: white !important;
  margin-top: 10;
  cursor: pointer;
}
